<ul class="section-list">
{% for page in pageslist  %}
  <li class="section-list-item{% if page.url == url %} section-list-item-active{% endif %}">
    <a href="{{ page.url | url }}" class="section-list-link">{% if page.data.title %}{{ page.data.title }}{% else %}<code>{{ page.url }}</code>{% endif %}</a>
    <br />
    </li>
{% endfor %}
</ol>
