<br>
<h2 class="">How to buy</h2>
<p>To purchase an item you see on this site, please email me at sgyll@protonmail.com to arrange.</p>
</p>I accept payment via UK bank transfer, card, paypal, Bitcoin and Monero. Items shipped from North Yorkshire, UK.</p>
