<!doctype html>
<html lang="en">

    {% include 'components/head.njk' %}

    <body>
        <main>
            <div class="head">
                <h1>
                    <a href="/">Shem 3D</a>
                </h1>
            </div>
            <div class="row">
                <div class="column home-body">
                    {{ content | safe }}
                </div>
            </div>

            <div class="row">
                <div class="column"><a href="/columns">
                    <div class="section-header">
                        Columns
                        <span class="section-link">All →</span>
                    </div></a>
                    {% set pageslist = collections.columns %}
                    {% include "pageslist.njk" %}

                </div>
                <div class="column"><a href="/projects">
                    <div class="section-header">
                        Projects
                        <span class="section-link">All →</span>
                    </div></a>
                    {% set pageslist = collections.projects %}
                    {% include "pageslist.njk" %}
                </div>
                <div class="column"><a href="/forsale">
                    <div class="section-header">
                        For Sale
                        <span class="section-link">All →</span>
                    </div></a>
                    {% set pageslist = collections.forsale %}
                    {% include "pageslist.njk" %}
                </div>
            </div>

        </main>
    </body>

</html>
