---
layout: layouts/base.njk
---

<div class="row">
    <div class="column _5 main-body">
        <h2 class="page-title">{{ title }}</h2>
        <div class="main-list">
        {{ content | safe }}
        </div>
    </div>
    <div class="column _25"></div>
</div>

